# Customer Purchase Prediction using Decision Trees

**Predicting buying behavior from a synthetic but realistic dataset:**
- Defining the problem statement
- Collecting or importing the data
- Exploring the dataset and handling the errors in data
- Exploratory data analysis
- Feature engineering
- Modeling
- Testing

## 1. Defining the problem statement

We need to analyze what sort of people were likely to purchase a product.

In addition, we need to use decision tree algorithm in order to predict which individuals are going to puchased based their data.

## 2. Data collection

This dataset is generated by ChatGPT (GPT-5) in order to perform machine learning to tools to predict customer behavior.

Lets import the data.

In [1]:
# Importing  required library

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('data/customer_purchase_dataset.csv')
df.head()

,Age_Group,Gender,Income_Level,Car_Type,Marital_Status,Has_Children,Education,Credit_Score_Category,Purchased
0,46-60,Female,Medium,Sedan,Single,Yes,Bachelor,Good,No
1,60+,Female,Medium,Truck,Divorced,Yes,Bachelor,Good,No
2,36-45,Male,Medium,Hatchback,Married,Yes,Bachelor,Good,No
3,60+,Male,High,Truck,Single,Yes,High School,Excellent,No
4,60+,Female,Medium,Truck,Married,No,Bachelor,Good,No

## 3. Exploring the dataset and handling the errors in data